$theme-colors: (
  "primary": #58A1D5,
  "danger": #ff4136,
  "secondary": rgb(37, 37, 37),
  "black": #000000,
  "grey": #737373e1,
);

@import "reset.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";

/*----------------------------------------- partie réservée aux média queries --------------------------------------------------------------*/

@media screen and (max-width: 835px) {
  .navigation{
    .bouton{
      width: 15vw !important;
    }
  }
  #containerMap {
    display: block !important;
  }
  #map {
    width: 80vw !important;
  }
  #rent {
    width: 80vw !important;
    margin-top: 3vh !important;
  }
  label{
    font-size: 5vw;
  }
  #canvasDisplay {
    width: 80vw;
  }
}


@media screen and (max-width: 370px) {
  .navigation{
    .bouton{
      width: 15vw !important;
    }
  }
  #containerMap {
    display: block !important;
  }
  #map {
    width: 80vw !important;
  }
  #rent {
    width: 80vw !important;
  }
  fieldset {
    font-size: 5vw !important;
  }
  .item1{
    width: 50vw !important;
    margin: auto !important;
  }
  label{
    font-size: 4vw !important;
  }
  #display{
    width: 80vw !important;
  }
  
}

/* -------------------------------------------------- style css  ---------------------------------------------------------------------------*/

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin: auto;
  margin-top: 2rem;
}
#display {
  width: 50vw;
  height: auto;
  overflow: hidden;
  padding: 0.25rem;
  border: $borderColor 0.3rem outset;
  border-radius: 20px;
  box-shadow: $blackShadow 10px 5px 5px;
  background-color: rgba(59, 59, 59, 0.7);
}
.item1 {
  border: ridge $globalColor 0.5rem;
  border-radius: 15px;
  width: 50vw;
  text-align: center;
  margin: auto;
  margin-top: 0.5rem;
  padding: 10px 0px 10px 0px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 3vw;
  font-family: $fontGlobal;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px,
    #000000 1px -1px;
  color: white;
  #marque {
    font-weight: bold;
    font-size: 4vw;
    font-family: $fontGlobal;
  }
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: auto;
  .bouton {
    width: 5vw;
    height: 2rem;
    margin: 10px;
    padding: 5px;
    border: solid white 2px;
    border-radius: 5px;
    background-color: gray;
    box-shadow: $blackShadow 10px 5px 5px;
    font-size: 0;
  }
  button {
    padding: 10px;
    margin: 5px;
  }
  :active {
    transform: scale(0.89);
  }
}

#containerMap {
  display: flex;
  margin: auto;
  width: 97vw;
  #map {
    width: 45%;
    height: 40rem;
    padding: 0.5rem 0px 0px 0px;
    border: outset $borderColor 0.3rem;
    border-radius: 30px;
    margin: auto;
    box-shadow: $blackShadow 10px 5px 5px;
  }
  #rent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45vw;
    height: 40rem;
    border: outset $borderColor 0.3rem;
    border-radius: 30px;
    margin: auto;
    padding: 0.5rem 5px 0px 5px;
    box-shadow: $blackShadow 10px 5px 5px;
    background-color: rgba(128, 128, 128, 0.9);
    overflow: auto;
    h2 {
      display: flex;
      justify-content: start;
      align-items: center;
      text-align: start;
      color: white;
      font-size: 1.2rem;
      font-family: $fontGlobal;
      #info1,
      #info2,
      #info3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 2rem;
        border: solid black 2px;
        background-color: white;
        padding: 5px;
        font-family: $fontGlobal;
        font-size: 1.2rem;
        font-weight: bolder;
        color: black;
        overflow: auto;
        box-shadow: black 5px 5px 5px;
      }
    }
    
    #renseignementsStations {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
    #renseignements {
      font-family: $fontGlobal;
      font-size: 1.5vw;
    }
    #bailleurLabel{
      display: flex;
      justify-content: center;
      font-size: 2vw;
    }
  }
}

.timeCounter {
  padding-top: 20px;
  padding-bottom: 20px;
  border: solid white 5px;
  border-radius: 15px;
  font-size: 1.5rem;
  font-family: $fontGlobal;
  color: white;
  background-color: rgb(153, 153, 153);
  width: 85vw;
  margin: auto;
  position: relative;
  #identity {
    #canvasDisplay {
      right: 0vw;
      top: 15px;
      border: solid black 1px;
      border-radius: 10px;
      background-color: honeydew;
      
    }
    .canvasButton {
      width: 25%;
      right: 10%;
      bottom: 10px;
      background-color: $globalColor;
      color: whitesmoke;
      font-size: 1.2rem;
    }

    #dataSubmit {
      margin-bottom: 10px;
    }
  }
}

u{
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px,
    #000000 1px -1px;
    font-size: x-large;
}

.warn{
  font-style: italic;
}
